:root {
  --primaryColor: #F44336;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 3.5em;
}
.header nav .logo {
  width: 200px;
  height: 50px;
}
.header nav .logo img {
  width: 100%;
}
.header nav .nav-links {
  width: 600px;
}
.header nav .nav-links ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2em 3.4em;
}
.header nav .nav-links ul li {
  position: relative;
  padding: 0.5em 1.2em;
}
.header nav .nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--primaryColor);
  display: block;
  margin: auto;
  transition: 0.5s;
}
.header nav .nav-links ul li:hover::after {
  width: 100%;
}
.header nav .nav-links ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 0.95rem;
  letter-spacing: 0.1em;
  font-weight: normal;
}
.header .text-box {
  width: 90%;
  color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header .text-box h1 {
  font-size: 4em;
  font-weight: 400;
}
.header .text-box p {
  margin: 10px 0 40px;
  font-size: 1.2em;
  color: #FFF;
  line-height: 1.5em;
}
.header .text-box .main-btn {
  position: relative;
  display: inline-block;
  color: #FFF;
  padding: 1.2em 3em;
  background: transparent;
  font-size: 1.1em;
  border: 2px solid #FFF;
  cursor: pointer;
  transition: 1s;
}
.header .text-box .main-btn:hover {
  border: 2px solid var(--primaryColor);
  background: var(--primaryColor);
  color: #FFF;
}
.header #mobile-menu {
  color: #FFF;
  margin: 10px;
  font-size: 1.5em;
  cursor: pointer;
  display: none;
}

section.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
section.course h1 {
  font-size: 2.3em;
  font-weight: 600;
}
section.course p {
  color: #777;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.3em;
  padding: 2em;
}
section.course .row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
section.course .row .course-col {
  width: 350px;
  background: #FFF3F3;
  outline: none;
  border-radius: 0.5em;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  padding: 20px 12px;
  box-sizing: border-box;
  margin-bottom: 5%;
  transition: 0.5s;
}
section.course .row .course-col h3 {
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  margin: 10px 0;
  margin-bottom: 0.2em;
}
section.course .row .course-col p {
  font-size: 0.9em;
  line-height: 1.6em;
  margin-top: 0;
}
section.course .row .course-col:hover {
  transform: translateY(-5px);
  background: #ffa2a2;
  color: #FFF;
}
section.course .row .course-col:hover p {
  color: #FFF;
}

section.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
section.campus h1 {
  font-size: 2.3em;
  font-weight: 600;
}
section.campus p {
  padding-top: 20px;
  color: #777;
}
section.campus .row {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  flex-wrap: wrap;
}
section.campus .row .campus-col {
  width: 20em;
  border-radius: 1em;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
section.campus .row .campus-col img {
  width: 100%;
  display: block;
}
section.campus .row .campus-col .top-layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
}
section.campus .row .campus-col .top-layer h3 {
  position: absolute;
  width: 100%;
  font-weight: 500;
  color: #FFF;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s;
}
section.campus .row .campus-col .top-layer:hover {
  background: rgba(226, 0, 0, 0.7);
}
section.campus .row .campus-col .top-layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

@media (max-width: 700px) {
  .header {
    padding: 0;
    margin: 0;
  }
  .header #mobile-menu {
    display: block;
    z-index: 1000;
  }
  .header nav {
    position: relative;
  }
  .header nav .logo {
    width: 150px;
    height: 40px;
  }
  .header nav .logo img {
    width: 100%;
  }
  .header nav .nav-links {
    position: absolute;
    background: var(--primaryColor);
    height: 100vh;
    width: 100%;
    top: 0;
    right: -100%;
    z-index: 2;
    opacity: 0.86;
    transition: all 1s ease-in-out;
  }
  .header nav .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 0;
  }
  .header nav .nav-links ul li {
    text-align: center;
    background: red;
    margin-top: 2.5em;
    width: 200px;
    border: 2px solid #FFF;
    border-radius: 5em;
  }
  .header nav .nav-links.toggle-nav {
    right: 0;
  }
  .header .text-box h1 {
    font-size: 2rem;
    font-weight: 500;
  }
  .header .text-box p {
    font-size: 1em;
  }
}/*# sourceMappingURL=main.css.map */