:root {
    --primaryColor: #F44336;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

// HEADER STARTS HERE
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, .7), rgba(4, 9, 30, .7)), url(../images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5em 3.5em;

        .logo {
            width: 200px;
            height: 50px;

            img {
                width: 100%;
            }
        }

        .nav-links {
            width: 600px;

            ul {

                list-style-type: none;
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 2em 3.4em;

                li {
                    position: relative;
                    padding: .5em 1.2em;

                    &::after {
                        content: "";
                        width: 0%;
                        height: 2px;
                        background: var(--primaryColor);
                        display: block;
                        margin: auto;
                        transition: 0.5s;
                    }

                    &:hover::after {
                        width: 100%;
                    }

                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        color: #FFF;
                        font-size: .95rem;
                        letter-spacing: .1em;
                        font-weight: normal;
                    }
                }
            }
        }
    }

    .text-box {
        width: 90%;
        color: #FFF;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        h1 {
            font-size: 4em;
            font-weight: 400;
        }

        p {
            margin: 10px 0 40px;
            font-size: 1.2em;
            color: #FFF;
            line-height: 1.5em;
        }

        .main-btn {
            position: relative;
            display: inline-block;
            color: #FFF;
            padding: 1.2em 3em;
            background: transparent;
            font-size: 1.1em;
            border: 2px solid #FFF;
            cursor: pointer;
            transition: 1s;

            &:hover {
                border: 2px solid var(--primaryColor);
                background: var(--primaryColor);
                color: #FFF;
            }
        }
    }

    #mobile-menu {
        color: #FFF;
        margin: 10px;
        font-size: 1.5em;
        cursor: pointer;
        display: none;
    }
}

// HERO SECTION STYLING ENDS HERE

// COURSES SECTION STYLING STARTS HERE
section.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

    h1 {
        font-size: 2.3em;
        font-weight: 600;
    }

    p {
        color: #777;
        font-size: 1.4em;
        font-weight: 300;
        line-height: 1.3em;
        padding: 2em;
    }

    .row {
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;



        .course-col {
            width: 350px;
            background: #FFF3F3;
            outline: none;
            border-radius: .5em;
            box-shadow: 3px 3px 3px rgba($color: #000000, $alpha: 0.2);
            padding: 20px 12px;
            box-sizing: border-box;
            margin-bottom: 5%;
            transition: .5s;

            h3 {
                font-size: 1.2em;
                font-weight: 600;
                text-align: center;
                margin: 10px 0;
                margin-bottom: .2em;
            }

            p {
                font-size: .9em;
                line-height: 1.6em;
                margin-top: 0;
            }

            &:hover {
                transform: translateY(-5px);
                background: #ffa2a2;
                color: #FFF;

                p {
                    color: #FFF;
                }
            }

        }
    }
}

// COURSES SECTION STYLING ENDS HERE

// CAMPUS SECTION STYLING STARTS HERE
section.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;

    h1 {
        font-size: 2.3em;
        font-weight: 600;
    }

    p {
        padding-top: 20px;
        color: #777;
    }

    .row {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        flex-wrap: wrap;

        .campus-col {
            width: 20em;
            border-radius: 1em;
            margin-bottom: 30px;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                display: block;
            }

            .top-layer {
                background: transparent;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition: 1s;

                h3 {
                    position: absolute;
                    width: 100%;
                    font-weight: 500;
                    color: #FFF;
                    font-size: 26px;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    opacity: 0;
                    transition: 0.5s;
                }

                &:hover {
                    background: rgba(226, 0, 0, 0.7);

                    h3 {
                        bottom: 49%;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

// CAMPUS SECTION STYLING ENDS HERE



// media query for small screen
@media(max-width:700px) {

    .header {
        padding: 0;
        margin: 0;

        #mobile-menu {
            display: block;
            z-index: 1000;
        }

        nav {

            position: relative;


            .logo {
                width: 150px;
                height: 40px;

                img {
                    width: 100%;
                }
            }

            .nav-links {
                position: absolute;
                background: var(--primaryColor);
                height: 100vh;
                width: 100%;
                top: 0;
                right: -100%;
                z-index: 2;
                opacity: .86;
                transition: all 1s ease-in-out;


                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 5em 0;

                    li {
                        text-align: center;
                        background: red;
                        margin-top: 2.5em;
                        width: 200px;
                        border: 2px solid #FFF;
                        border-radius: 5em;

                    }
                }
            }

            .nav-links.toggle-nav {
                right: 0;
            }
        }


        .text-box {
            h1 {
                font-size: 2rem;
                font-weight: 500;
            }

            p {
                font-size: 1em;
            }
        }
    }
}


// end of media query for small screens


// HEADER ENDS HERE