* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

// HEADER STARTS HERE

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, .7), rgba(4, 9, 30, .7)), url(../images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5em 3.5em;

        .logo {
            width: 200px;
            height: 50px;

            img {
                width: 100%;
            }
        }

        .nav-links {
            width: 600px;

            ul {

                list-style-type: none;
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 2em 3.4em;

                li {
                    position: relative;
                    padding: .5em 1.2em;

                    &::after {
                        content: "";
                        width: 0%;
                        height: 2px;
                        background: #F44336;
                        display: block;
                        margin: auto;
                        transition: 0.5s;
                    }

                    &:hover::after {
                        width: 100%;
                    }

                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        color: #FFF;
                        font-size: .95rem;
                        letter-spacing: .1em;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}


// HEADER ENDS HERE