:root {
  --primaryColor: #F44336;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html::-webkit-scrollbar {
  width: 1.3em;
}

html::-webkit-scrollbar-track {
  background: #FFF;
}

html::-webkit-scrollbar-thumb {
  background: #F44336;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/campus.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 3.5em;
}
.header nav .logo {
  width: 200px;
  height: 50px;
}
.header nav .logo img {
  width: 100%;
}
.header nav .nav-links {
  width: 600px;
}
.header nav .nav-links ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2em 3.4em;
}
.header nav .nav-links ul li {
  position: relative;
  padding: 0.5em 1.2em;
}
.header nav .nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--primaryColor);
  display: block;
  margin: auto;
  transition: 0.5s;
}
.header nav .nav-links ul li:hover::after {
  width: 100%;
}
.header nav .nav-links ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 0.95rem;
  letter-spacing: 0.1em;
  font-weight: normal;
}
.header .text-box {
  width: 90%;
  color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header .text-box h1 {
  font-size: 4em;
  font-weight: 400;
}
.header .text-box p {
  margin: 10px 0 40px;
  font-size: 1.2em;
  color: #FFF;
  line-height: 1.5em;
}
.header .text-box .main-btn {
  position: relative;
  display: inline-block;
  color: #FFF;
  padding: 1.2em 3em;
  background: transparent;
  font-size: 1.1em;
  border: 2px solid #FFF;
  cursor: pointer;
  transition: 1s;
}
.header .text-box .main-btn:hover {
  border: 2px solid var(--primaryColor);
  background: var(--primaryColor);
  color: #FFF;
}
.header #mobile-menu {
  color: #FFF;
  margin: 10px;
  font-size: 1.5em;
  cursor: pointer;
  display: none;
}

section.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
section.course h1 {
  font-size: 2.3em;
  font-weight: 600;
}
section.course p {
  color: #777;
  line-height: 1.3em;
  padding: 2em;
}
section.course .row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
section.course .row .course-col {
  width: 350px;
  background: #FFF3F3;
  outline: none;
  border-radius: 0.5em;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  padding: 20px 12px;
  box-sizing: border-box;
  margin-bottom: 5%;
  transition: 0.5s;
}
section.course .row .course-col h3 {
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  margin: 10px 0;
  margin-bottom: 0.2em;
}
section.course .row .course-col p {
  font-size: 0.9em;
  line-height: 1.6em;
  margin-top: 0;
}
section.course .row .course-col:hover {
  transform: translateY(-5px);
  background: #ffa2a2;
  color: #FFF;
}
section.course .row .course-col:hover p {
  color: #FFF;
}

section.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
section.campus h1 {
  font-size: 2.3em;
  font-weight: 600;
}
section.campus p {
  padding-top: 20px;
  color: #777;
}
section.campus .row {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  flex-wrap: wrap;
}
section.campus .row .campus-col {
  width: 20em;
  border-radius: 1em;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
section.campus .row .campus-col img {
  width: 100%;
  display: block;
}
section.campus .row .campus-col .top-layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
}
section.campus .row .campus-col .top-layer h3 {
  position: absolute;
  width: 100%;
  font-weight: 500;
  color: #FFF;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s;
}
section.campus .row .campus-col .top-layer:hover {
  background: rgba(226, 0, 0, 0.7);
}
section.campus .row .campus-col .top-layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

section.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
section.facilities h1 {
  text-align: center;
  font-size: 2.3em;
  font-weight: 600;
}
section.facilities p {
  padding-top: 20px;
  color: #777;
}
section.facilities .row {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  flex-wrap: wrap;
}
section.facilities .row .facilities-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
section.facilities .row .facilities-col img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
section.facilities .row .facilities-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}
section.facilities .row .facilities-col p {
  padding: 0;
}

section.testimonials {
  width: 80%;
  margin: auto;
  padding-top: 5%;
  text-align: center;
}
section.testimonials h1 {
  text-align: center;
  font-size: 2.3em;
  font-weight: 600;
}
section.testimonials p {
  padding-top: 20px;
  color: #777;
}
section.testimonials .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}
section.testimonials .row .testimonial-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #FFF3F3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}
section.testimonials .row .testimonial-col img {
  height: 40px;
  margin-left: 5px;
  border-radius: 30px;
  margin-right: 30px;
}
section.testimonials .row .testimonial-col p {
  padding: 0;
}
section.testimonials .row .testimonial-col h3 {
  margin-top: 15px;
  text-align: left;
}
section.testimonials .row .testimonial-col i {
  color: #F44336;
  font-size: 0.7em;
  margin: 1em 0;
}

section.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/banner2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
section.cta h1 {
  color: #FFF;
  font-size: 2.3em;
  margin-bottom: 40px;
  padding: 0;
}
section.cta .hero-btn {
  position: relative;
  display: inline-block;
  color: #FFF;
  padding: 1.2em 3em;
  background: transparent;
  font-size: 1.1em;
  border: 2px solid #FFF;
  cursor: pointer;
  transition: 1s;
  text-decoration: none;
}
section.cta .hero-btn:hover {
  border: 2px solid var(--primaryColor);
  background: var(--primaryColor);
  color: #FFF;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}
.footer p {
  color: #777;
  font-size: 0.95rem;
  line-height: 1.6rem;
  margin-bottom: 1%;
}
.footer p i {
  color: #F44336;
}
.footer .icons {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 1%;
}
.footer .icons i {
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #F44336;
  margin: 5px auto;
  padding: 15px 10px;
  background: #FFF;
  color: #F44336;
  margin-right: 1.2em;
  transition: 0.5s;
  cursor: pointer;
}
.footer .icons i:hover {
  color: #FFF;
  background: #F44336;
  transform: translateY(-5px);
  border: none;
  outline: none;
}

@media (max-width: 700px) {
  .header {
    padding: 0;
    margin: 0;
  }
  .header #mobile-menu {
    display: block;
    z-index: 1000;
  }
  .header nav {
    position: relative;
    padding: 20px 20px;
  }
  .header nav .logo {
    width: 150px;
    height: 40px;
  }
  .header nav .logo img {
    width: 100%;
  }
  .header nav .nav-links {
    position: fixed;
    background: rgba(172, 18, 18, 0.95);
    height: 100vh;
    width: 100%;
    top: 0;
    right: -100%;
    z-index: 2;
    transition: all 1s ease-in-out;
  }
  .header nav .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 0;
  }
  .header nav .nav-links ul li {
    text-align: center;
    background: red;
    margin-top: 2.5em;
    width: 200px;
    border: 2px solid #FFF;
    border-radius: 5em;
  }
  .header nav .nav-links.toggle-nav {
    right: 0;
  }
  .header .text-box h1 {
    font-size: 2rem;
    font-weight: 500;
  }
  .header .text-box p {
    font-size: 1em;
  }

  section.facilities .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section.testimonials .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section.testimonials .row .testimonial-col img {
    margin-left: 0px;
    margin-right: 15px;
  }

  section.cta h1 {
    font-size: 1.4em;
    line-height: 1.5em;
    padding: 0 0.2em;
  }

  section.footer p {
    font-size: 0.85em;
  }
  section.footer .icons {
    font-size: 0.95em;
  }
  section.footer .icons i {
    margin-right: 0.3em;
    outline: none;
    border: none;
  }
}/*# sourceMappingURL=main.css.map */